{% for group, colors in datas %}
  <div>
    <h3>{{ group }}</h3>
    <div class="sg-MainContent-list--column">
      {% for colorname, color in colors %}
        <div class="sg-Card" style="background-color:{{ color.value }};">
            <div>
                <span>{{ colorname }}</span><span>{{ color }}</span>
            </div>
        </div>
        {% if color.declinaisons is defined %}
          {% for decliname, decli in color.declinaisons %}
            <div class="sg-Card" style="background-color:{{ decli }};">
              <div>
                <span>{{ decliname }}</span><span>{{ decli }}</span>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
